.item-has-focus.label-floating.sc-ion-label-md-h,
.item-has-focus .label-floating.sc-ion-label-md-h,
.item-has-focus.label-stacked.sc-ion-label-md-h,
.item-has-focus .label-stacked.sc-ion-label-md-h {
  color: #f00;
}

.divCheck {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  ion-item {
    --inner-border-width: 0 0 0px 0;
  }
}
.divLogo {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 10%;
  img {
    width: 58%;
  }
}

.bienvenida {
  color: black;
  font-size: 124%;
  text-align: center;
  text-shadow: 1px 1px 1px #123;
}

.credenciales {
  text-align: -webkit-center;
  ion-item {
    width: 80%;
    ion-input {
      --highlight-color-focused: #ffce00;
      font-weight: 300;
    }
  }
  ion-button {
    margin-top: 15%;
    width: 80%;
    button {
      background-color: #ff4849;
    }
  }
}
.item-interactive.item-has-focus {
  --highlight-background: #ff4849;
}
.containerMedia {
  width: 100%;
  img {
    width: 9%;
    margin-left: 1%;
    vertical-align: bottom;
  }
  ion-item {
    width: 70%;
    ion-input {
      --highlight-color-focused: #ffce00;
      font-weight: 300;
    }
  }
  .columnMedia {
    display: inline-block;
  }
}
.register {
  text-align: center;
  margin-top: 15px;
  a{
    text-decoration: underline;
    color: #f00;
  }
}

input[type="color" i] {
  -webkit-appearance: square-button;
  width: 44px;
  height: 23px;
  background-color: buttonface;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  border-image: initial;
  padding: 0px;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 55px;
	height: 55px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.colorSelector {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
.colorSelector::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
.colorSelector::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}
