<ion-content padding class="animated fadeIn auth-page" style="--background: url(assets/imgs/login/loginFondo.png) no-repeat center center / cover;">
  <div class="divLogo">
    <img src="assets/imgs/logo2.png" alt="">
  </div>
  <div class="bienvenida">
    Bienvenid@
  </div>
  <!-- <input type="color" name="favcolor" value="#ff0000" class="colorSelector"> -->
  <form [formGroup]="formGroup" (ngSubmit)="verifyShields()">
    <div class="credenciales">
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="person"></ion-icon> Usuario
        </ion-label>
        <ion-input formControlName="user" required></ion-input>
      </ion-item>
      <app-control-messages [control]="formGroup.controls.user"></app-control-messages>
      <div class="containerMedia">
        <ion-item class="columnMedia">
          <ion-label position="floating">
            <ion-icon name="key"></ion-icon> Contraseña
          </ion-label>
          <ion-input formControlName="password" type="{{verPassword}}" required></ion-input>

        </ion-item>
        <img src="assets/imgs/login/eye.png" class="columnMedia" alt="" (touchstart)="verPasswordMethod($event)"
          (touchend)="verPasswordMethod($event)">
      </div>
    </div>
    <div class="divCheck">
      <ion-item>
        <ion-label>Mantener Sesión Activa</ion-label>
        <ion-checkbox color="icon" slot="start" formControlName="sesionActiva"></ion-checkbox>
      </ion-item>

    </div>
    <div class="credenciales">
      <ion-button expand="block" color="icon" type="submit">
        <ion-icon slot="end" name="log-in"></ion-icon>
        Ingresar
      </ion-button>
    </div>
    <div class="register">
      <div>¿Nuevo en Techers On? <a (click)="goToRegister()">Registrate</a></div>
    </div>
  </form>

</ion-content>