<ion-header color="icon">
  <ion-toolbar color="icon">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding >
  <div class="container">
    <div class="imgContainer">
      <img src="assets/imgs/logo2.png" alt="">
    </div>
    <div class="name">
      {{nameApp}}
    </div>
    <div class="version">
      {{version}}
    </div>
  </div>
  <div class="description">
    <p>Somos una empresa innovadora que da las mejores soluciones de problemas escolares y busca satisfacer las
      necesidades de nuestros clientes.
    </p>
    <p>Es una App especialmente para alumnos que no comprenden un tema de alguna materia, lo que esta App brinda son
      asesorías que podrán explicar de la manera mas sencilla.
      Eliges la materia y aparecerán los tutoriales de los maestros.</p>
  </div>
</ion-content>