.container {
  text-align: center;
  .imgContainer {
    margin-bottom: 6%;
    img {
      width: 36%;
    }
  }
  .name {
    font-size: 1.3em;
    font-family: sans-serif;
  }
  .version {
    font-size: 0.9em;
    font-family: sans-serif;
  }
}

.description {
  text-align: center;
}
