<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <div style="
            background-image: url(assets/imgs/presentacionMenu/presentacion.png);
            background-size: 100%;
            background-position: center 47%;
            height: 111px;">
          <img src="assets/imgs/logo2.png" alt="Fry" class="animated myImagen" style="
          top: 10px !important;
          left: 9px !important;
          height: 50px !important;
          border-radius: 0px !important;
          width: 48px !important;
          position: absolute;
          opacity: 0;">
          <div class="menu-bottom" style="color: #ffffff;
          font-size: x-large;
          text-shadow: 1px 1px 3px #171717b5;
          font-weight: 700;
          font-family: inherit;
          margin-left: 4%;
          margin-top: 26%;
          position: absolute;">
            Menu
          </div>
        </div>
      </ion-header>
      <ion-content>
        <ion-list no-lines lines="none">
          <div *ngFor="let p of pages">
            <ion-menu-toggle>
              <ion-item  menuClose class="item item-icon-right" (click)="openPage(p)" style="box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);">
                <img src="assets/imgs/{{p.img}}" alt="logo" style="    /* height: 35%; */
                    width: 11%;
                    margin-top: 2px;
                    position: absolute;" />
                <h2 style="display: inline-block;
                    margin-left: 50px;
                    margin-top: 14px;
                    font-size: 139%;
                    font-weight: 200;
                    font-family: inherit;">{{
                  p.nombre }}</h2>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-list>
      </ion-content>
      <ion-footer showWhen="android" no-lines lines="none" no-border>
        <ion-toolbar>
          <div>
            <ion-button style="width: 48%;" (click)="exitApp()" color="icon">
              <ion-icon name="close-circle" class="botonFooter"></ion-icon>
              Salir
            </ion-button>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>