<ion-header>
  <ion-toolbar color="icon">
    <ion-title>{{operation}} Categoría</ion-title>
    <ion-buttons slot="start" *ngIf="!plataforma">
      <ion-button (click)="cancelar()" style="color:#fff">
        <span color="secundary" showWhen="ios">Cancel</span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="plataforma">
      <ion-button (click)="cancelar()" style="color:#fff" slot="end">
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="categoriaFoto" >
    <img src="assets/imgs/categoria/categoria.png" alt="" *ngIf="categoria === null && imgBase64 === null" (click)="openOptionsSelect()">
    <img src="{{imgBase64}}" alt="" *ngIf="imgBase64 !== null" (click)="openOptionsSelect()">
    <img src="{{categoria.img_base64}}" alt="" *ngIf="imgBase64 === null && categoria !== null && categoria.img_base64 !== null" (click)="openOptionsSelect()">
    <img src="{{categoria.img_url}}" alt="" *ngIf="imgBase64 === null && categoria !== null && categoria.img_base64 === null && categoria.img_url !== null" (click)="openOptionsSelect()">
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="validacion()">
    <div>
      <p class="parrafo">Descripción</p>
      <div class="input-container">
        <ion-icon name="create" class="icon"></ion-icon>
        <input class="input-field" type="text" placeholder="" name="usrnm" formControlName="descripcion" required>
      </div>
    </div>
    <app-error-messages [control]="formGroup.controls.descripcion"></app-error-messages>

    <div>
      <p class="parrafo">Url de imagen</p>
      <div class="input-container">
        <ion-icon name="code" class="icon"></ion-icon>
        <input class="input-field" type="text" placeholder="Puedes seleccionar una imagen de galería" name="usrnm"
          formControlName="imgUrl" required>
      </div>
    </div>
    <app-error-messages [control]="formGroup.controls.imgUrl"></app-error-messages>

    <div>
      <p class="parrafo">Color</p>
      <div class="input-container">
        <ion-icon name="brush" class="icon"></ion-icon>
        <!-- <input type="color" name="favcolor" value="#ff0000" class="colorSelector"> -->
        <input type="color" class="colorSelector" placeholder="" name="usrnm" formControlName="color">
      </div>
    </div>
    <app-error-messages [control]="formGroup.controls.color"></app-error-messages>

  </form>

</ion-content>
<ion-footer>
  <form [formGroup]="formGroup" (ngSubmit)="validacion()">
    <ion-button expand="full" color="icon" type="submit" class="botonFooter">
      <ion-icon slot="end" name="save"></ion-icon>
      Aceptar
    </ion-button>
  </form>
</ion-footer>